- hosts: web
  become: yes
  tasks:
    - name: Install Nginx
    apt:
      name: nginx
      state: present
      update_cache: yes

    - name: Copy welcome page
      copy:
        dest: /var/www/html/index.html
        content: "<h1>Servidor configurado con Ansible</h1>"
